img{
  border-radius: 15px;
  width:1000px;
  heidght:500px;
}

body{
  background-image:linear-gradient(purple,white,orange);
}

header a{
  text-dicoration:none;
  background: white;
  color: white;
  padding: 5px;
  margin: 10px 60px 10px 60px;
  color: black;
  border: 3px solid lightblue;
  border-radius: 10px;
}
