img{
  border-radius: 15px;
  width: 1000px;
  heidght: 500px;
}

body{
  background-image: linear-gradient(purple,white,orange);
}

nav a{
  text-decoration: none;
  background-color: white;
  padding: 15px;
  margin: 15px 60px 10px 60px;
  color: black;
  border: 3px solid lightblue;
  border-radius: 10px;
  font-family: comic sans ms;
}
